process {
    withName: AMBER {
      memory =  { 24.GB * task.attempt }  
      cpus   =  { 16    * task.attempt }
    }
    withName: BAM_TOOLS {
      memory =  { 24.GB * task.attempt }  
      cpus   =  { 16    * task.attempt }
    }
    withName: CHORD {
      memory =  { 12.GB * task.attempt }  
      cpus   =  { 4    * task.attempt }
    }
    withName: CIDER {
      memory =  { 24.GB * task.attempt }  
      cpus   =  { 4    * task.attempt }
    }
    withName: COBALT {
      memory =  { 24.GB * task.attempt }  
      cpus   =  { 16    * task.attempt }
    }
    withName: CUPPA {
      memory =  { 16.GB * task.attempt }  
      cpus   =  { 4    * task.attempt }
    }
    withName: ESVEE {
      memory =  { 96.GB * task.attempt }  
      cpus   =  { 32    * task.attempt }
    }
    withName: HEALTH_CHECKER {
      memory =  { 32.GB * task.attempt }  
      cpus   =  { 8    * task.attempt }
    }
    withName: LILAC {
      memory =  { 24.GB * task.attempt }  
      cpus   =  { 16    * task.attempt }
    }
    withName: 'LINX*' {
      memory =  { 16.GB * task.attempt }  
      cpus   =  { 4    * task.attempt }
    }
    withName: ORANGE {
      memory =  { 16.GB * task.attempt }  
      cpus   =  { 4    * task.attempt }
    }
    withName: PAVE {
      memory =  { 32.GB * task.attempt }  
      cpus   =  { 8    * task.attempt }
    }
    withName: '.*:PAVE_ANNOTATION:(?:GERMLINE|SOMATIC)' {
      memory =  { 32.GB * task.attempt }  
      cpus   =  { 8    * task.attempt }
    }
    withName: PEACH {
      memory =  { 4.GB * task.attempt }  
      cpus   =  { 2    * task.attempt }
    }
    withName: PURPLE {
      memory =  { 40.GB * task.attempt }  
      cpus   =  { 8    * task.attempt }
    }
    withName: REDUX {
      memory = { 256.GB * task.attempt } 
      cpus   =  {16    * task.attempt } 
    }
    withName: SAGE {
      memory =  { 64.GB * task.attempt }  
      cpus   =  { 16    * task.attempt }
    }
    withName: SIGS {
      memory =  { 16.GB * task.attempt }  
      cpus   =  { 4    * task.attempt }
    }
    withName: TEAL {
      memory =  { 32.GB * task.attempt }  
      cpus   =  { 32    * task.attempt }
    }
    withName: V_CHORD {
      memory =  { 4.GB * task.attempt }  
      cpus   =  { 2    * task.attempt }
    }
    withName: VIRUSBREAKEND_GRIDSS {
      memory =  { 64.GB * task.attempt }  
      cpus   =  { 8    * task.attempt }
    }
    withName: VIRUS_INTERPRETER {
      memory =  { 8.GB * task.attempt }  
      cpus   =  { 2    * task.attempt }
    }
  }